.footer {
  height: 2em;
  width: 100%;
  border-top: 2px solid;
  animation-name: change-border-color;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease;
  position:fixed;
  bottom:0;
}


@keyframes change-border-color {
  0% { color: #134e4a; }
  25% { color: #0f766e; }
  50% { color: #14b8a6; }
  75% { color: #5eead4; }
  100% { color: #f0fdfa; }
}
