.takeTest {
  width: 20em;
  height: 10em;
  border: 2px solid;
  animation-name: change-border-color;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  width: 20em;
  animation-timing-function: ease;
}

.takeTest:hover {
  border-color: green;
}

@keyframes change-border-color {
  0% { color: #172554; }
  25% { color: #1e3a8a; }
  50% { color: #1e40af; }
  75% { color: #1d4ed8; }
  100% { color: #2563eb; }
}
